h1{
    color:blue;
    
}
p,h2{
    text-align: center;
    color: maroon;
    background-color: midnightblue;
}
*{
 
    border-radius: 30px;
}
.Header{
    background-color: green;
    display: flex;
    justify-content: space-between;
}
.Item{
    background-color: indianred;
  display: flex;
  flex-direction:column ;
  justify-content: first baseline;
}
.Grid{
    background-color: lawngreen;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Footer{
    background-color: lightsalmon;
    display:flex;
    justify-content: flex-end;
}